button {
    height: 40px;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: #bce0ff;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px #000000b3;
    margin: 5px;
}
button:hover {
    opacity: 0.75;
}