<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Calculator</title>
    <script src="../../angular.js"></script>
    <script src="../../appModule.js"></script>
    <script src="calcCtrl.js"></script>
    <!-- <script src="generalCtrl.js"></script> -->
    <script src="watchNameCtrl.js"></script>
    <link rel="stylesheet" type="text/css" href="calc.css">
</head>

<body style="background-color: aliceblue; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <div ng-controller="calcCtrl as mainCalc">
        <h3>Main Calc:</h3>
        <div style="font-weight: bold">
            <input type="number" ng-model="arg1" ng-change="calc()">
            <span style="font-family: Arial, Helvetica, sans-serif">{{' ' + op + ' '}}</span>
            <input type="number" ng-model="arg2" ng-change="calc()">
            {{' = '}}
            <span ng-style="resStyle">{{res}}</span>
        </div> <br>
        <button ng-click="calc('+')" ng-model="op">+</button>
        <button ng-click="calc('-')" ng-model="op">-</button>
        <button ng-click="calc('x')" ng-model="op">x</button>
        <button ng-click="calc('/')" ng-model="op">/</button>

        <br>

        <div ng-controller="calcCtrl">
            <h3>Child Calc:</h3>
            Parent result: {{mainCalc.res2}}
        </div>
    </div>

    <br>

    <div ng-controller="calcCtrl">
        <h3>Brother Calc:</h3>
        Main result: {{rootRes}}
    </div>

    <br>
    <hr><br>

    <div ng-controller="watchNameCtrl">
        <h3>Watch My Name:</h3>
        Enter any name:
        <input type="text" ng-model="someName">
        <span ng-show="someName !== ''">
            <span style="color: seagreen" ng-show="isMyName"> This is my name!</span>
            <span style="color: red" ng-show="!isMyName"> This is not my name...</span>
        </span>
    </div>

</body>

</html>