input[type="text"], input[type="number"] {
    border-radius: 5px;
}

.ok {
    color : seagreen;
    border-color : seagreen;
}

.missing {
    color : orange;
    border-color : orange;
}

.empty {
    color : red;
    border-color : red;
}

.minor {
    color : blue;
    border-color : blue;
}