input[type="button"] {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: palegoldenrod;
}
input[type="button"]:hover {
    opacity: 0.75;
}

.size {
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
}

.gameboard {
    background-color: orange;
    height: 80px;
    width: 60px;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    color: #f39d00;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px #000000b3;
    margin: 5px;
    cursor: pointer;
}
.gameboard:hover {
    opacity: 0.75;
}

.shown {
    background-color: pink;
    color: black;
    cursor: not-allowed;
}
.shown:hover {
    opacity: 1;
}